<div class="row" style="margin:0 auto;width:265px;margin-top:200px;">
   <input type="text" class="form-control" id="exampleInputEmail1" placeholder="User name" ng-model="updata.username">
</div>
<div class="row" style="margin:0 auto;width:265px;margin-top:20px;">
   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="updata.password">
</div>
<button type="button" class="btn btn-default btn-lg btn-block" style="width:265px;margin:0 auto;margin-top:20px;" ng-click="zhuce()">注册</button>