<div>
<div class="row" style="background:#666;">
  <div class="col-xs-4 col-sm-7 col-md-9" style="color:#556fb5;font-size:25px;">Somenote</div>
  <div class="col-xs-3 col-sm-6 col-md-8" style="margin-top:5px;">
  	 <input type="text" class="modal-content" ng-model="title" style="width:100px;"/>
</div>
  

  <div class="col-xs-5 col-md-4">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background:#ccc;border:none;">Dropdown</button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="find()">查找</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">排序</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="removeCookieinfo()">退出登录</a></li>
  </ul>
</div>
</div>

<div class="jumbotron" style="margin-left:15px;margin-top:15px;padding:0px;" ng-repeat="x in data | filter: title">
  <h3 style="background:#ccc;padding:0px;margin:0px;" ui-sref="xiugai({id:x.id,title:x.title,content:x.content})">{{x.title}}
  </h3>
  <p style="margin-top:20px;">{{x.content}}</p>
  <div class="col-xs-12 col-md-4">
      <span class="glyphicon glyphicon-folder-close" style="font-weight:400;position:relative;top:10px;" ng-click="shan(x)"></span>
      <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target=".bs-example-modal-sm1" style="position:relative;top:10px;margin-left:10px;" ng-click="xz(x)"></span>
  </div>
</div>

<div class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm2" style="width:50px;height:50px;border-radius:50%;background:blue;position:absolute;bottom:5px;left:45%;text-align:center;line-height:40px;color:#fff;font-size:25px;" ng-click="add(x)">+</div>
<button type="button" class="btn btn-info" style="position:absolute;
bottom:30px;left:12px;" ng-click="geng()">下一页</button>
<button type="button" class="btn btn-info" style="position:absolute;
bottom:30px;right:12px;" ng-click="shang()" id="sm">上一页</button>


<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <input type="text" class="modal-content" ng-model="gb.title" />
    <input type="text" class="modal-content" ng-model="gb.content" />
    <!-- <input type="text" class="modal-content" style="display:none;" ng-model="gb.did" /> -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm2" ng-click="bao()">保存</button>
</div>
</div>


<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <input type="text" class="modal-content" ng-model="jz.title" />
    <input type="text" class="modal-content" ng-model="jz.content" />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm1" ng-click="qd()">确定</button>
</div>
</div>
</div>
