<div style="background:url('images/.jpg');">
<div class="row" style="margin:0 auto;width:265px;margin-top:200px;">
   <input type="text" class="form-control" id="exampleInputEmail1" placeholder="User name" ng-model="degdata.username">
</div>
<div class="row" style="margin:0 auto;width:265px;margin-top:20px;">
   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="degdata.password">
</div>
<button type="button" class="btn btn-primary btn-lg btn-block" style="width:265px;margin:0 auto;margin-top:20px;" ng-click="deg()">登录</button>
<div class="checkbox" style="margin-left:550px;margin-top:20px;">
        <label>
          <input type="checkbox" ng-model="check" ng-checked="check"> Remember me
        </label>
</div>
<button type="button" class="btn btn-default btn-lg btn-block" style="width:265px;margin:0 auto;margin-top:20px;" ui-sref="zhuce">注册</button>
</div>